/* Header */
@import url('https://fonts.cdnfonts.com/css/samudera');

@font-face {
    font-family: 'CoconNextArabic-Light';
    src: url("/static/fonts/cocon-next-arabic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* General styling for body and html */
body, html {
    font-family: 'CoconNextArabic-Light'!important;
    font: 1em sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}



.lazyload {
  opacity: 0;
  transition: opacity 0.3s;
}

.lazyload.is-loaded {
  opacity: 1;
}


/* Navbar styling */


.navbar {
    font-family: 'CoconNextArabic-Light';
    display: flex;
    justify-content: center; /* Center the navbar items horizontally */
    padding: 1.5rem !important;
    
}
@media screen and (max-width: 991px) {
    .navbar {
        padding: .5rem !important;
    }
  
}
.navbar-nav {
    text-align: center; /* Center the nav items inside the navbar */
    flex-direction: row-reverse !important; /* Reverse the order of list items */

}
.navbar-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    z-index: -1;
    transition: height 0.5s ease;
}
.navbar.scrolled .navbar-background {
    height: 100%;
}


.navbar-toggler-icon{
    filter: brightness(0);
}

.svg-container img, .social-icons img {
    filter: brightness(0) invert(1) !important;
    transition: filter 0.3s ease-in-out;

}

.navbar.scrolled .svg-container img, .navbar.scrolled .social-icons img {
    filter: none !important;
}


header {
    direction: rtl;
}


/* Navbar link styling */
.nav-link {
    color: #fff !important ; /* Change link color to white */ 
    text-decoration: none !important; /* Remove underline */
    transition: color 0.3s ease-in-out; /* Add transition effect */
}
.navbar.scrolled .nav-link{
    color: #067BAD !important; /* Change link color to black on scroll */

}
@media (max-width: 991px) {
    .nav-link {
        color: #067BAD !important; /* Change link color to black on mobile */
        text-align: center;
        justify-content: center !important;
    }
    .nav-link {
      font-size: 1.5rem !important; /* Example font size */
      font-weight: 700 !important; /* Example font weight */
      margin: .5rem;

    
  }
  .btn-close{
    transform: scale(2) !important;
  }
  
}


.nav-link {
    font-size: 1rem; /* Example font size */
    font-weight: 700 !important; /* Example font weight */
}

/* Offcanvas styling */
.offcanvas {
    --bs-offcanvas-width: 100% !important; /* Full width offcanvas */
    transition: transform 1s ease-in-out; /* Smooth transform transition */
}
.offcanvas-backdrop {
    background-color: transparent !important; /* Remove backdrop color */
}
.offcanvas-body {
    background-color: #f8f9fa; /* Example background color */
    padding: 20px;
}

.social-media-phone{
  display: flex;
  margin-top: 2rem;
  gap: 20px;

}

.social-media-phone a{

  text-decoration: none;
}


/* Social media icons */
.social-icons {
    display: flex;
    gap: 15px; /* Space between icons */
}


/* Flexbox adjustments */
.navbar-nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.navbar-nav{
    direction: ltr;
}

/* Main Page*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}
.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;

}
.slides {
    display: none;
    width: 100%;
}
.slides img {
    width: 100%;
    vertical-align: middle;
}
.progress-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    direction: rtl;
    gap: 20px;
    padding: 0 20px;
}

.progress-bar-wrapper {
    text-align: center;
    flex: 1;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background-color: #c3c3c380 !important;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 0;
    background-color: #007bff73;
    position: absolute;
    top: 0;
    transition: width 0.3s linear;
}

@media screen and (max-width: 768px) {
    .progress-container {
        bottom: 40px;
        position: relative;
        display: flex;
        width: 100%;
        gap: 5px;
    }
    .progress-bar{
      background-color: #c3c3c380 !important;
    }
  
}

.progress-bar-text {
    text-align: center;
    margin-top: 5px; /* Adjust spacing between bar and text */
}

.slideshowpanel{
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;

}

.iconspanel, .sliderpanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font: inherit;
}

.title{
    direction: rtl;
}

.title {
    max-width: 900px; /* Adjust this value as needed */
    margin: 0 auto;  /* Center align the container */
}

.title h1, .rich-text h1, .title-rich h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #067BAD;
}

.title-rich{
    padding: 2rem 4rem;
}

@media screen and (max-width: 768px) {
   .title-rich h1{
        font-size: 2.5rem;
    }
    .title-rich {
    text-align: center;
    padding: 0 1rem;
  }
  
    .title-text p {
        font-size: 1.8rem;

    }
  
    .title-text{
      text-align: center;
      padding: 1rem 0rem !important;
    }
}

@media screen and (max-width: 768px) {
    .title h1, .rich-text h1 {
        font-size: 2.5rem;
    }
    .title p {
        font-size: .8rem;
    }
}

.title p {
    font-weight: 600;
    color: #696969;
    direction: rtl;
}

.features-container{
    display: flex;
    justify-content: center;
    gap: 6rem; 
    margin-bottom: 4rem;
    direction: rtl;

}

.features-container h3{
    font-size: 24px;
    font-weight: 700 !important;
}

.features-container p{
    padding: 0 2rem;
    color: #696969;
    font-weight: 500 !important;

}



/* Card Slider */
.card-slider .card {
    padding: 15px;
    margin: 0 10px; /* Add horizontal margin to create space between cards */
    border: none !important;
    transition: margin 0.2s ease-in-out; /* Smooth transition */
  }
  
  .card a {
    text-decoration: none;
    color: black;
  }

  .card-title{
    color: #067BAD !important;
    font-weight: bold;
  }
  
  .card:hover {
    /* Float hover effect */
    margin-top: -10px; /* Move the card up by 10px */
  }

  .card img{
    width: 100%;
  }
  
  .slick-prev, .slick-next {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    width: auto; /* Allow arrow to define width */
    height: auto; /* Allow arrow to define height */
    color: #067BAD !important; /* Arrow color */
    font-size: 24px; /* Adjust arrow size */
    z-index: 1; /* Ensure buttons are on top */
  }




  .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0 10px; /* Add padding to ensure proper alignment */
  }

  .fa-chevron-left, .fa-chevron-right {
    font-size: 24px; /* Adjust icon size */
  }

  .button-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .button-container-lightbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .btn-primary{
    background-color: #067bad !important;
    border: #067BAD !important;
    font-weight: bold !important;
    border-radius: 2rem !important;
    padding: 0.5rem 3rem !important;
    font-size: 1.3rem !important;
  }

  .howpanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font: inherit;
  }


  .video-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 80%;
    flex-direction: column;
    align-self: center;

  }

  @media screen and (max-width: 768px) {
    .video-container {
      width: 100%;
    }
    
  }

  .full-width-video {
    width: 80%; /* Adjust the width to make the video smaller */
    height: 45vw; /* Adjust the height proportionally */
    max-width: 800px; /* Optional: set a max width */
    max-height: 450px; /* Optional: set a max height */
    overflow: hidden;
  }

  .full-width-video iframe {
    width: 100%;
    height: 100%;
  }
/* 5th panel */
  .looppanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    align-items: center; /* Center content vertically */
    text-align: center;
    font: inherit;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .looppanel {
      flex-direction: column;
    }
    .loop-video {
      width: 100% !important;
    }
    .container-text {
      width: 100% !important;
    }
  }

  .container-text {
    height: 100%;
    background-color: #D9D9D9;
    width: 50%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    box-sizing: border-box;
  }

  .rich-text {
    width: 100%;
    max-width: 1000px; /* Optional: Set a maximum width for the rich text container */
    text-align: right;
    font: inherit;
    direction: rtl;
    box-sizing: border-box;
  }
  @media screen and (max-width: 768px){
    .rich-text{
      text-align: center;
    }
    .button-container{
      justify-content: center !important;
    }
  }

  .rich-text h1 {
    padding: 0 2rem;
  }
  .rich-text h3 {
    font: inherit;
    font-weight: bold;
    padding: 0 2rem;
  }

  .rich-text .button-container {
    justify-content: right;
    padding: 0 2rem;
  }

  .loop-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.loop-video video {
    width: 100%;
    height: auto;
}

/* 6th panel */

  .ourworkspanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font: inherit;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.ourworks_grid {
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: 80px;
}

.ourworks_grid ul {
    float: left;
    width: 50%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.ourworks_grid ul.left li:nth-child(1),
.ourworks_grid ul.left li:nth-child(2) {
    width: 50%;
    float: left;
}

.ourworks_grid ul.left li:nth-child(3) {
    width: 100%;
}

.ourworks_grid ul.right li:nth-child(1)
 {
    width: 100%;
}
.ourworks_grid ul.right li:nth-child(2),
.ourworks_grid ul.right li:nth-child(3) {
    width: 50%;
    float: left;
}

.ourworks_grid ul li {
  position: relative;
  padding: 0.5rem;
  overflow: hidden;
  transform: scale(1);
  transition: transform cubic-bezier(.67,-1.37,.34,2.32) .3s;
}

.ourworks_grid ul li:hover {
  transform: scale(1.05);
}

.ourworks_grid img {
  width: 100%;
  display: block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Apply shadow to image */
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.ourworks_grid ul li:hover img {
  box-shadow: 0 8px 16px rgba(0,0,0,0.4); /* Enhance shadow on hover */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* 7th panel */
.partnerpanel{
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  font: inherit;

}

.partners li img {
  width: auto;
  height: 40px;
  margin: 20px 40px;
}
@media screen and (max-width: 768px) {
  .partners li img {
    width: auto;
    height: 30px;
    margin: 20px 20px;
  }
  
}

.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin-bottom: 100px;
    padding-left: 0 !important;
    align-self: center;
}


.richtextpanel{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font: inherit;
  direction: rtl;
}

@media screen and (max-width: 768px) {
  .richtextpanel {
    flex-direction: column;
  }
  
}

.right-side-rich {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: left;
}

.left-side-rich {
  width: 50%;
  padding: 1rem;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .right-side-rich, .left-side-rich {
    width: 100%;
  }
  
}

.richimg-container {
  width: 65%;

}
@media screen and (max-width: 768px) {
  .richimg-container {
    width: 100%;
  }
  
}

.richimg-container img {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-right: 3rem;
  background-color: #067BAD;
}

.title-text{
  font-size: 1.5rem;
  padding: 2rem 4rem;
}
/* 8th panel */
.faqpanel {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  font: inherit;
  direction: rtl;
}

.questions-rich, .question-accordion {
  flex: 1;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .faqpanel {
    flex-direction: column;
  }
  
  .questions-rich, .question-accordion {
    width: 100%;
    padding: 10px;
  }
}

.accordion-button {
  text-align: right !important; /* Align the text to the right */
}

.accordion-body {
  text-align: right; /* Align the text to the right */
}

.accordion-header {
  text-align: right;
  border-bottom: 1px solid rgb(0, 0, 0,0.5);
}

.accordion-button::after {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.accordion-body {
  text-align: right;
}

.questions-rich h2{
  font-size: 2.5rem;
  font-weight: 700;
  color: #067BAD;
  padding: 2rem 4rem;
}
@media screen and (max-width: 768px) {
  .questions-rich h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }
  
}

/* Footer styling */

#whatsapp-float {
  position: fixed;
  background-color: white;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  border-radius: 10px ;
}

#whatsapp-float img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #whatsapp-float {
    bottom: 40px;
    right: 5px;
  }

  #whatsapp-float img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
}


.footer {
  background-color: #067BAD;
  text-align: center;
  color: white;
  width: 100%;
}


.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem; /* Adjust the gap between sections */
  margin-top: 1.5rem; /* Add some space above the sections */
  direction: rtl;
}

.footer-section {
  flex: 1; /* Equal width for both sections */
  max-width: 45%; /* Maximum width for each section */
}

.footer-section a{
  color: white;
  text-decoration: none;
}
.footer-section a:hover {
  text-decoration: underline !important; /* Adds an underline on hover */
}

.footer-section h1 {
  font-size: 1.2rem; /* Example font size */
  margin-bottom: 1rem; /* Space below the title */
}

.footer-section p {
  margin-bottom: 0.5rem; /* Space below each paragraph */
}

.footer-copyright {
  margin-top: 2rem; /* Space above the copyright text */
}

@media (max-width: 768px) {
  .footer-content {
    
      flex-direction: column; /* Stack sections vertically on smaller screens */
      gap: 1rem; /* Reduce the gap between sections */
  }

  .footer-section {
      max-width: 100%; /* Full width for each section on smaller screens */
      align-self: center;
  }
}

.footer-bottom{
    width: 100%;
    background-color: white;
    color: #067BAD;
}


/* Blog Page */

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
  width: 100%;
  height: auto;
}
.blogscontainer{
  max-width: 1400px;
  align-self: center;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 1rem !important;
  padding-top: 1rem !important;
  border-radius: 10px;
  max-width: 630px !important;
  gap: 1rem;
  transform: scale(1);
  transition: transform 0.3s ease !important;
}

.blog:hover {

  transform: scale(1.05) !important;
  
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-text {
  padding: 1rem;
  width: 100%;
  text-align: right;
}

.blog-title {
  color: #067BAD;
  margin-top: 1rem;
  width: 100%;
  text-align: right;
}

.blog-title h3 {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .blog-title h3 {
      font-size: 1.5rem;
  }
}

.blog-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: right;
  height: 3em;
  color: #696969;
}

.blog-link {
  text-decoration: none;
  color: #067BAD;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  direction: rtl;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.blogbanner {
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; /* Add padding for spacing from bottom */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s; /* Smooth transition for the flip effect */
}
.show-banner {
  opacity: 1; /* Show the banner once the image is loaded */
}
.blogtext {
  position: absolute;
  width: 50%;
  top: 40%;
}
@media screen and (max-width: 768px) {
  .blogtext {
      width: 80%;
  }
  .blogbanner {
    height: 100%; /* Ensure banner height adjusts to content */
    background-attachment: scroll; /* Fixes the background position on mobile */
    
  }
}
.scroll_down {
  color: white; /* Adjust text color for better visibility */
  font-size: 18px; /* Adjust font size as needed */
  animation: jump 1s infinite;
  position: relative;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.scroll_down::after {
  content: '';
  display: block;
  width: 2px;
  height: 30px; /* Adjust the height of the line */
  background: white; /* Adjust the color of the line */
  margin: 10px auto 0;
  animation: fade 1s infinite;
}

@keyframes fade {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}




/* Contact Page */
.locationbanner, .locationbanner img {
  display: flex;
  width: 100%;
  
}

.contact-title{
  direction: rtl;
  position: absolute;
  text-align: right;
  color: white;
  left: 20%;
  top: 20%;
}

@media screen and (max-width: 1800px) {
  .contact-title {
      left: 20%;
      top: 15%;
  }
  
}
@media screen and (max-width: 1500px) {
  .contact-title {
      left: 20%;
      top: 10%;
  }
  
}

@media screen and (max-width: 824px) {
  .contact-title {
      text-align: center;
      left: 30%;
      top: 5%;
  }
  .contact-title h1{
    font-size: 1rem
  }
  .contact-title p{
    font-size: .7rem !important;
  }
  
}

.contact-title h1{
  font-weight: bold;
}

.contact-title p{
  color: #385062;
  font-size: 1.2rem;
}
.contact-container {
  align-self: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  direction: rtl;
  margin: -180px auto 0;
  max-width: 1000px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .contact-container {
      position: relative;
      display: flex;
      margin-top: 40px;
      margin: -20px 15px 0 !important;
  }
  
}
.title {
  margin-bottom: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc !important;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
.contact-form input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form input[type="submit"]:hover {
  background-color: #0056b3;
}
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  z-index: 999;
  position: fixed;
  top: 35%;
}


.Quotemessage {
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  align-self: center;
  text-align: center;
  justify-content: center;
  display: flex;
}


.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.Quotemessage.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}


.Quotemessage.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.method-container {
  display: flex;
  background-color: #067BAD;
  color: white;
  padding: 20px;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 20px;
}
.info p{
  font-weight: bold;
  list-style: none;
  color: white !important;
  margin: 0 !important;
}
.social-icons-contact {
  display: flex;
  gap: 10px;
}
.social-icons-contact img {
  padding: 10px;
  filter: brightness(0) invert(1);
}
@media (min-width: 824px) {
  .form-container {
      flex-direction: row;
  }
  .contact-form {
      min-width: 600px;
      flex: 1;
  }
  .method-container {
      flex: 1;
      padding: 30px;
  }


}
/* FAQ */

.containerFAQ {
  margin: 0 auto;
  padding: 4rem;
  direction: rtl;
  text-align: right;
}
.accordion-item {
  border: 0 !important;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
  background-color: #fff;
}
.accordion button {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 100%;
  padding: 1em 1.5em 1em 1em;
  color: #212529;
  justify-content: space-between;
  font-size: 1.15rem;
  font-weight: 400;
  gap: 5px;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
  
}
.accordion button .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      left: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
}
.accordion button .icon::after {
  display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 200ms ease-in-out;
  will-change: opacity, max-height;
}
.accordion{
margin-bottom: 4rem;  
}

.container h2{
font-weight: bold;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms ease-in-out, max-height 200ms ease-in-out;
  will-change: opacity, max-height;
  background-color: #fff;

  
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  padding: 1em 1.5em 1em 1em;
  margin: 2em 0;
}
.categorytitle{
display: flex;
flex-direction: row; 
gap:20px;
font-size: xx-large;
}

.categorytitle i {
  color:#067BAD;
}

.contact-us{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 4rem;
}



.scroll-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    overflow: hidden;
    height: 50vh; /* Making sure the container takes the full viewport height */
}

.scroll-text {
    
    transition: transform 100ms ease;
    will-change: transform;
    max-width: 80%;
    height: fit-content;
}
.scroll-text h2{
    font-size: 30px;
    color: #067BAD;
}

.introsection{
    background-color: #fff;
}
.about-container {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-text{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.about-text h2{
    font-size: 40px !important;
}
@media screen and (max-width: 768px) {
    .about-text h2{
        font-size: 30px !important;
    }
    
}

.text-eng{
    font-family: 'Samudera', sans-serif;
    color: #067BAD;
}
.second-text{
    margin: 0px 50px 0px 0px;
}

.third-text, .fourth-text{
    margin: 0px 80px 0px 0px;
}

.about-text div {
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), margin 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}


@media screen and (max-width: 768px) {
    .who-we-are{
        flex-direction: column;
    }
    .who-we-are .who-we-are-img-container, .who-we-are .rich-text {
        width: 100% !important;
        padding: 0px !important;
    }
    
}

.who-we-are .who-we-are-img-container {
    transition: transform 0.5s ease;
    will-change: transform;
}

.who-we-are .rich-container{
    display: flex;
    align-items: center;
    background-image: url('/static/about/color.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 

.rich-text{
    transition: transform 0.5s ease;
    will-change: transform;
}


.who-we-are .rich-text{
    align-self: center;
    padding: 0px 50px;
    font-size: 24px;   
}

.who-we-are-img-container {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Keeps content within bounds */
    height: 600px;
    border-radius: 10px; /* Slightly rounded corners */
}



.who-we-are img {
    height: 100%;
    width: auto;
    border-radius: 10px; /* Slightly rounded corners */
}

.who-we-are {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 100px 0px;
}

@media screen and (max-width: 768px) {
    .who-we-are {
        align-items: center;
        flex-direction: column;
        padding: 80px 1rem !important;

    }
    .who-we-are .who-we-are-img-container, .who-we-are .rich-text {
        width: 100% !important;
    }

    .who-we-are-img-container{
        transform: translateY(10%);
    }
}

.rich-text {
    color: #151515;
    font-size: 18px;
    line-height: 1.6;
}

.img-side, .rich-container {
    width: 50%; /* Ensure content containers fill the column width */
}
@media screen and (max-width: 768px) {
    .img-side, .rich-container {
        width: 100% !important;
    }
    
}



.who-we-are-text {
    position: absolute;
    text-align: center;
    right: 25%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #fff; /* Optional: background color with transparency */
    padding: 10px 50px; /* Adjust padding as needed */
    border-radius: 5px; /* Slightly rounded corners */
    z-index: 999;
    width: auto; /* Change width to auto to adapt to content */
}


.who-we-are-text h2{
    font-size: 70px;
    font-weight: bold;
}

/* Ensure responsiveness and proper positioning on smaller screens */
@media screen and (max-width: 768px) {

    .img-side{
        display: flex;
        flex-direction: column;
    }
    .who-we-are-text {
        overflow: hidden; /* Keeps content within bounds */
        transition: transform 0.5s ease;
        will-change: transform;
        width: 300px;
        position: relative;
        align-self: center;
        right: 0;
    }
    .who-we-are-text h2{
        font-size: 40px;
    }
}
            
        



.numbers {
    padding: 5rem 1rem;
    background: #f8f9fa;
    text-align: center;
    background-color:#fff;

}
.numbers .number {
    font-size: 36px;
    font-weight: bold;
}
.numbers h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.facts{
    width: 85%;
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out;
}
@media screen and (max-width: 768px) {
    .facts{
        width: 100%;
    }
    .accordion-container{
        width: 100% !important;
    }
    
}


.numcon{
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.5s ease;
}

.numcon:hover{
    background-color: #fff;
    
}

.facts h2{
    font-weight: bold;
}

.accordionsection{
    padding: 5rem 0;
    background-color: #fff;
}

.accordion {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;

}
.accordion-container{
    width: 85%;
    padding: 1rem;

}

.impact-section {
display: flex;
min-height: 70vh;
background-color: #fff;
}

.impact {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 100%;
}
@media screen and (max-width: 768px) {
.impact {
flex-direction: column;
text-align: center;
}
.tdlogo-container, .impact-text {
width: 100% !important;
padding: 2rem !important;
}



}

.tdlogo-container {
width: 20%;
perspective: 1000px; /* Needed for 3D effect */
display: flex;
justify-content: center;
align-items: center;
}


.tdlogo-container img {
border-radius: 10px;

width: 100%;
transition: transform 0.2s ease-out; /* Smooth transformation */
transform-style: preserve-3d;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Initial shadow */
transform: translateX(var(--translateX)) translateY(var(--translateY)) rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.impact-text{
width: 40%;
padding: 0px 60px
}

.impact-text h2{
text-align: center;
font-size:35px;
font-weight: bold;
}

.impact-text p{
font-size: 20px;
font-weight: bold;
}

.text-section{
background-color: #fff;
padding: 250px 0px 100px 0px;
}

.gallery-section{
background-color: #fff;
padding: 100px 0px;
}
.gallery-container{
display: flex;
flex-direction: row;
direction: rtl;
overflow: hidden;
padding: 100px 0px;
}

.right-gallery{
width: 30%;
display: flex;
flex-direction: column;

}

.left-gallery{
width: 40%;
display: flex;
flex-direction: column;
}

@media screen and (max-width: 768px) {
.gallery-container{
flex-direction: column;
}
.right-gallery, .left-gallery{
width: 100% !important;
}
.gallery-item{
padding: 1rem !important;
}

}

.right-gallery, .left-gallery{
transition: transform 0.5s ease;
will-change: transform;
overflow: hidden;
}

.gallery-item{
padding: 0 20px 20px 0;
width: 100%;
}
.gallery-item img{
width: 100%;
border-radius: 10px;
}
.partnerlogo{
padding: 15px;
margin-bottom: 40px !important;

}

.partnerlogo img{
width: 100%;
filter: grayscale(100%);    
transition: filter 0.5s ease;
}

.partnerlogo:hover img{
filter: grayscale(0%);
}
.partners-section{
padding: 100px 0px;
direction: ltr;
}

.partners-container{
width: 85%;
padding: 0 4rem;
}
@media screen and (max-width: 768px) {
.partners-container{
width: 100%;
padding: 0 1rem;
}

}

.partners-title{
direction: rtl;
margin-bottom: 50px;
}

.ptitle{
width: 35%;
text-align: center;

}
@media screen and (max-width: 768px) {
.ptitle{
width: 100% !important;
}

}

.ptitle h2{
font-size: 55px;
font-weight: bold;
}


/* Quote Section */

.qcontainer {
  width:  1400px;
  margin: 0 auto;
  padding: 20px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .qcontainer {
      width: 100%;
      padding: 10px;
  }
  
}

.split-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem; /* Added padding for spacing */
  box-sizing: border-box;
}

.product-image-container,
.quote-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 10px; /* Margin to separate the two containers */
}

.product-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.quote-container {
  width: 100%;
  direction: rtl;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0077c2;
}

.quote-container select,
.quote-container input,
.quote-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem; /* Smaller font size for compactness */
  margin-bottom: 10px; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* New styles for dimensions fields */
.dimensions-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dimension-field {
  flex: 1; /* Ensure all fields take equal width */
  margin-left: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.dimension-field:last-child {
  margin-right: 0px;
  margin-left: 0px;
}

.dimension-field input {
  width: 100%; /* Make input fields take full width of their container */
}


@media screen and (max-width: 768px) {
  .split-container {
      flex-direction: column;
      padding: 1rem; /* Adjust padding for smaller screens */
  }

  .quote-container h1 {
      font-size: 1.5rem;
  }

  .quote-container .form-row {
      flex-direction: column;
      flex-wrap: wrap; /* Allow wrapping on small screens */
  }

  .dimensions-row {
      flex-direction: row;
  }

  .dimension-field {
      margin-right: 0;
      margin-bottom: 10px;
  }
}

      .reviews-section {
          background-color: #f9f9f9;
          padding: 40px 20px;
          border-radius: 8px;
          margin-top: 40px;
          text-align: center;
      }

      .reviews-section h2 {
          font-size: 2rem;
          color: #0077c2;
          margin-bottom: 40px;
      }

      .review-carousel {
          position: relative;
          overflow: hidden;
          width: 80%;
          margin: auto;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
      }

      .review-slider {
          display: flex;
          transition: transform 0.5s ease;
      }

      .review {
          min-width: 100%;
          background-color: #fff;
          padding: 20px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }

      .review img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin-bottom: 20px;
      }

      .review h3 {
          margin: 0;
          font-size: 1.2rem;
          color: #333;
      }

      .review p {
          margin: 5px 0 10px;
          font-size: 1rem;
          color: #666;
      }

      .review .rating {
          color: #ffcc00;
      }

      .carousel-controls {
          position: absolute;
          top: 50%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          transform: translateY(-50%);
      }

      .carousel-controls button {
          background-color: #fff;
          color: #067BAD;
          border: none;
          padding: 10px;
          cursor: pointer;
      }
      /* Styles for checkbox groups */
      .options-container {
  display: flex;
  flex-wrap: wrap; /* Wrap options to the next line if necessary */
  gap: 10px; /* Space between buttons */
}

.option-button {
  padding: 10px 20px;
  border: 2px solid #0077c2;
  border-radius: 8px;
  background-color: #fff;
  color: #0077c2;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  flex: 1 1 auto; /* Allows buttons to grow and shrink */
}

.option-button.selected {
  background-color: #0077c2;
  color: #fff;
  border-color: #0077c2;
}



.product-title{
  padding: 0 40px;
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {


  .product-title{
      text-align: center;
  
}
}

.submit-button {
          padding: 10px 20px;
          background-color: #0077c2;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1rem;
          width: 100%;
          margin-top: 10px;
      }

      .submit-button:hover {
          background-color: #005999;
      }



      .reviews-section {
  text-align: center;
  margin-top: 2rem;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.review-container {
  width: 300px;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.hidden {
  display: none;
}

.load-more {
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: #067BAD;
  color: #fff;
  font: inherit;
  font-weight: bold;
  display: inline-block;
  border-radius: 8px;
}

.load-more:hover {
  background-color: #0056b3;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.reviewer-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviewer-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.verified img {
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

.rating img {
  width: 20px;
  height: 20px;
}

.review-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.google-svg img {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.reviews-section {
  background-color: #fff;
  align-self: center;
  max-width: 1400px;
}

